h1, h2, h3, a {
  font-family: 'Encode Sans', sans-serif;
  text-align: center;
}

h1, h2 {
  font-weight: 700;
}

img {
  max-width: 75%;
  border-radius: 50px;
}

@media (max-width: 768px) {
  img {
    display: block;
    margin: auto;
    width: 60%;
  }
}

@media (min-width: 768px) {
  h1, h3 {
    text-align: right;
  }
  h2 {
    text-align: left;
  }
}

#screenshots h3, #screenshots p {
  text-align: center;
}

.container {
  margin-top: 20px;
  margin-bottom: 20px;
}


/* brandico */

[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
  font-size: 20px;
}

footer row {
  text-align: center;
  padding: 15px;
}

.container {
  padding: 30px;
  background-image: radial-gradient(circle, #f4add9 0%, rgba(0, 0, 255, 0) 100%, #8989d4 95%);
  border-radius: 25px;
}
